body {
  background: rgb(53, 53, 53);
  color: whitesmoke;
  padding: 5vmin;
  text-align: center;
}

.header {
  width: 40vw;
  margin: auto;
}
.user-input {
  width: 40vw;
  margin: auto;
}

.heading{
  color: goldenrod;
}

.btn {
  background-color: goldenrod;
  font-weight: 600;
}

#convert-button {
  width: 30vw;
}

.error-message {
  color: red;
}

.output {
  margin: auto;
}

.hidden {
  display: none;
}